*~
*.o
*.so.*
*.a
*.exe
*.dll
*.pyc
*.pyo
*.class
*.yy.c
CMakeCache.txt
CMakeFiles
cmake_install.cmake
parallel_processes/Makefile
parallel_processes/ppr_mq
parallel_processes/ppr_pipe
parallel_processes/ppr_shmem
